<?xml version="1.0" encoding="utf-8"?>
<config>
	<floor x="0" />
	<objects>
		<sphere x="-2" y="5" z="0" radius="0.2" mass="1" elasticityCoef="0.8" vx="0" vy="0" vz="0" colorR="200" colorG="200" colorB="200" />
		<sphere x="-2.5" y="5" z="0" radius="0.2" mass="1" elasticityCoef= "0.8" vx="0" vy="0" vz="0" colorR="200" colorG="200" colorB="200" />
		<sphere x="-2.25" y="5" z="0.5" radius="0.2" mass="1" elasticityCoef= "0.8" vx="0" vy="0" vz="0" colorR="200" colorG="200" colorB="200" />
		<sphere x="-2.25" y="10" z="0.25" radius="0.2" mass="1" elasticityCoef= "0.8" vx="0" vy="0" vz="0" colorR="200" colorG="20" colorB="20" />
	</objects>
</config>