<?xml version="1.0" encoding="utf-8"?>
<config>
	<floor x="0" />
	<objects>
		<sphere x="-2" y="0.2" z="0" radius="0.2" mass="1" vx="20" vy="0" vz="0" colorR="200" colorG="200" colorB="200" />
		<sphere x="0" y="0.2" z="0" radius="0.2" mass="1" vx="0" vy="0" vz="0" colorR="200" colorG="20" colorB="20" />
	</objects>
</config>